html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

a, a:hover {
    color: #FFFFFF;
}

.rem-1 {
	font-size: 1rem
}

.rem-2 {
	font-size: 2rem
}

.rem-3 {
	font-size: 3rem
}

.text-main{
	font-family: 'Permanent Marker', cursive;
}

.btn-primary-own {
    color: #fff;
    background-color: #4e4a7e;
    border-color: #4e4a7e;
}

.btn-primary-own:hover {
    color: #fff;
    background-color: #4e4a62;
    border-color: #4e4a62;
}

.bg-custom-primary {
    background-color: #322C50;
}

.bg-home {
	background: url(../images/background.png);	
	background-size: cover;
	background-repeat: no-repeat;
}

.accordion .card:first-of-type {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 15px;
}

.animate-logo {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: rotation;
    animation-name: rotation;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotation {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}