@font-face {
  font-family: 'Realstone';
  font-display: swap;
  src: url('fonts/realstone.woff') format('woff');
}

.navbar-brand {
    font-family: 'Realstone', sans-serif;
}

.accordion .card:first-of-type {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 15px;
}